@model User

<form action="/user/register" method="post" class="border p-3">
            <div class="form-group d-flex justify-content-between align-items-center">
                <label for="FirstName">First Name:</label>
                <input asp-for="FirstName">
            </div>
            <small><span asp-validation-for="FirstName" class="text-danger"></span></small>
            <div class="form-group d-flex justify-content-between align-items-center mt-3">
                <label for="LastName">Last Name:</label>
                <input asp-for="LastName">
            </div>
            <small><span asp-validation-for="LastName" class="text-danger"></span></small>
            <div class="form-group d-flex justify-content-between align-items-center mt-3">
                <label for="Email">Email:</label>
                <input asp-for="Email">
            </div>
            <small><span asp-validation-for="Email" class="text-danger"></span></small>
            <div class="form-group d-flex justify-content-between align-items-center mt-3">
                <label for="Password">Password:</label>
                <input asp-for="Password">
            </div>
            <small><span asp-validation-for="Password" class="text-danger"></span></small>
            <div class="form-group d-flex justify-content-between align-items-center mt-3">
                <label for="PassConfirm">PW Confirm:</label>
                <input asp-for="PassConfirm">
            </div>
            <small><span asp-validation-for="PassConfirm" class="text-danger"></span></small>
            <div class="mt-5 d-flex justify-content-end">
                <input type="submit" value="Register" class="btn btn-primary">
            </div>
</form>