

<div class="row">
    <div class="col-5">
        <h2 class="display-6 mb-4 ps-4">Register</h2>
        <partial name="_Register"></partial>
    </div>
    <div class="col-5">
        <h2 class="display-6 mb-4 ps-4">Login</h2>
        <partial name="_Login"></partial>
    </div>
</div>
